<h1> <em> Bienvenue dans notre page </em> </h1>
<h2> Voici la liste de tous les gossips </h2>
<%= link_to 'Creer un gossip', "gossips/new" %> </em> </p>
<ul>
<%i=@gossip_all.length%>
<% a = 1 %>	
<% @gossip_all.reverse.each do |p|%>
 <% if a <= 4 %>
<li>
<h3><%= "Gossip#{i}" %></h3>
 <strong>Auteur: <strong><%= p.user.first_name %><br>
 <strong>Title: <strong><%= p.title %><br>
</li>  
 <%= link_to 'A propos', "gossips/#{i}" %>
  <% i-=1 %>
  <% a+=1 %>
  <% else %>
   <% break %>
<%end%>
 <%end%> <br>
<p> <em> <%= link_to 'Plus de Gossip?' %> </em> </p>
</ul> 
<%= @new %>
