
<h1>Gossip<%= @id %></h1>
<% x = @gossip %>
<b><dt><i>Auteur:</i></dt></b>
<dd>Nom:<%=  x.user.first_name %></dd>
<dd>Prenom: <%=  x.user.last_name %></dd>
<dd>age: <%=  x.user.age %></dd>
<dd>email: <%=  x.user.email %></dd>
<dd>description: <%=  x.user.description %></dd>
<b><dt><i>Gossip:</i></dt></b>
<dd>titre: <%= x.title %></dd>
<dd>contenue:<%= x.content %> </dd>
<p><%= link_to 'éditer', "/gossips/#{@id}/edit" %></p>
